<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="_07Prop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="_07Prop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="moms" value="0.25"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <_07Prop.Properties.Settings>
            <setting name="MomsPct" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Farve" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </_07Prop.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <_07Prop.Properties.Settings>
            <setting name="Const" serializeAs="String">
                <value>elkgsdklfhgs ldfjkghldgh sdfjkgh sldgh sldkgh sldkgh sdklfjgh sldgh sdfjkgh </value>
            </setting>
        </_07Prop.Properties.Settings>
    </applicationSettings>
</configuration>